body{
  margin: 0 auto;
}
header{
  background-color: #FFAB91;
  text-align: right;
  color: #FFF;
  height: 8em;
}
.title{
  margin: 0.5em 1em;
  font-size: 3em;
  /*outline: 1px solid red;*/
}
.subtitle{
  margin: -2em 3em;
  /*outline: 1px solid red;*/
}
.backgroundPanda{
  height: 37em;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/uno.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.infoPanda{
  border-top: 1em solid #ffab91;
  border-bottom: 1em solid #ffab91;
}
.backgroundTwoPandas{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/dos.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 37em;
}
.picturesPandas{
  border-top: 1em solid #ffab91;
  border-bottom: 1em solid #ffab91;
}
.picture{
  border: 0.5em solid #FFF;
}
.backgroundFinal{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/tres.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 37em;
}
